.container {
  height: calc(100vh - 16px);
  background-color: #f9f9f9;
}

.columnContainer {
  width: 100%;
  max-width: 375px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 80%;
  min-height: 550px;
}

@media screen and (width <= 1024px) {

  .columnContainer {
    height: 80vh;
  }
}

.content {
  flex: 1;
  color: #a0a0a0;
  justify-content: flex-start;
}

.form {
  color: #ffffff;
  justify-content: space-around;
  flex: 1;
}

.content,
.form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  color: #454545;
  margin: 0 0 13px;
  width: 100%;
  line-height: 1;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
  color: #757575;
}

.uppercase > p > span {
  display: block;
  width: 100%;
}

.paragraph {
  line-height: 1.7;
}

.dark,
.dark div {
  background-color: #2c2c2c;
  box-shadow: none;
}

.logo {
  width: 100%;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hugeButton,
.hugeButton button {
  flex: 1;
  width: 100%;
  font-size: 16px;
  height: 44px;
}

.loginActions {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  align-content: center;
  justify-content: space-around;
  padding-top: 45px;
}

.form .loginActions {

  & > a {
    padding: 10px 0;
    text-transform: uppercase;
    color: #757575;
    font-size: 12px;
  }

  & > a:hover,
  & > a:active {
    color: #bababa;
  }
}

.form .login {

  & > div {
    padding-top: 45px;
  }

  & input:focus ~ label,
  & input:hover,
  & input:focus,
  & input {
    border-color: #ffffff;
    color: #ffffff;
    caret-color: #ffffff;
  }

  & input ~ button {
    color: #ffffff;
  }
}

.signIn {
  padding-bottom: 16px;

  & span {
    line-height: 30px;
  }
}

.signInLink {
  text-transform: uppercase;
  color: #73dbb8;
  margin-left: 0.5em;

  &:hover,
  &:focus,
  &:active {
    color: #32b88b;
  }

  &:visited {
    color: #2b9e77;
  }
}
